* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  .light {
    transition: color 0.5s, background-color 0.5s;
    background-color: #f8f8f8;
    color: #29292e;
  }
  
  .dark {
    transition: color 0.5s, background-color 0.5s;
    background-color: #29292e;
    color: #f8f8f8;
  }
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}
