.question {
  background: #fefefe;
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  transition: box-shadow 0.3s;
  margin-bottom: 16px;

  & * .question {
    margin-top: 8px;
  }

  &.highlighted {
    border: 2px solid #835afd;
    
    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    filter: brightness(0.8);
  }

  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  p {
    padding: 8px 0;
    color: #29292e;
    border-bottom: 1px solid #d3d3d3;
  }

  form {
    padding: 16px 0;
    input {
        width: 100%;
        border: 3px solid transparent;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s;
        
        &:hover {
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }
        &:focus {
          border: 3px solid #835afd;
          outline: 0x;
          outline-color: transparent;
        }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;
        transition: filter 0.2s;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }
}